<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lucas Vaz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LucasVaz.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <div class="container flex-grow-1" style="padding-left: 55px;">
            <main role="main" class="pb-3" style="margin-bottom: 50px;">
                <div class="sidebar">
                    <ul class="menu">
                        <li title="Inicio"><a class="home" asp-area="" asp-controller="Home" asp-action="Index"></a></li>
                        <li title="Sobre Mim"><a class="sobre" asp-area="" asp-controller="SobreMim" asp-action="Index"></a></li>
                        <li title="Experiencia"><a class="experiencia" asp-area="" asp-controller="Experiencia" asp-action="Index"></a></li>
                        <li title="Projetos"><a class="projetos" asp-area="" asp-controller="Projeto" asp-action="Index"></a></li>
                        <li title="Skills"><a class="habilidade" asp-area="" asp-controller="Habilidade" asp-action="Index"></a></li>
                        <li title="Estudos"><a class="estudos" asp-area="" asp-controller="Estudo" asp-action="Index"></a></li>
                        <li title="Contato"><a class="contato" asp-area="" asp-controller="Contato" asp-action="Index"></a></li>
                        <li title="Privacidade"><a class="privacidade" asp-area="" asp-controller="Privacidade" asp-action="Index"></a></li>
                        <li title="Login"><a class="login" asp-area="" asp-controller="Login" asp-action="Home"></a></li>
                    </ul>
                </div>
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted text-center" style="display: inline-block;">

            <div class="container">
                &copy; 2023 - Desenvolvido por Lucas Vaz - <a asp-area="" asp-controller="Privacidade" asp-action="Index">Politica de Privacidade</a>
            </div>
        </footer>
        @for (int i = 0; i < 150; i++)
        {
            <div class="estrela" style="top: @(new Random().Next(0, 100))vh; left: @(new Random().Next(0, 100))vw; animation-delay: @(new Random().Next(1, 20))s;"></div>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
