@using PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<LucasVaz.Models.Estudo>

<html>
<body>
    <div class="container mt-4">
        <h1>Estudos</h1>
        <div>
            <a asp-action="Create" asp-controller="EditarEstudo" class="transparent-button mb-3 mt-4">
                <i class="fas fa-plus"></i>Inserir Novo Estudo
            </a>
            <div class="table-responsive mt-4">
                <table class="table" style="color:black;  border-color:black;">
                    <thead>
                        <tr>
                            <th>Estudo</th>
                            <th>Local</th>
                            <th>Tipo de Estudo</th>
                            <th>Tecnologias</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var estudo in Model)
                        {
                            <tr>
                                <td>@estudo.DsEstudo</td>
                                <td>@estudo.DsLocal</td>
                                <td>@estudo.TipoEstudo.DsTipoEstudo</td>
                                <td>
                                    <ul class="list-inline">
                                        @foreach (var tecnologia in estudo.EstudosTecnologias)
                                        {
                                            <img src="@Url.Content($"~/img/{tecnologia.Tecnologia.DsTecnologia}.svg")" width="16" height="16" />
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="EditarEstudo" asp-route-id="@estudo.IdEstudo" class="transparent-button">
                                        <i class="fas fa-pencil-alt"></i>Editar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="container mt-4 text-center">
                <nav aria-label="Page navigation" class="custom-pagination text-center">
                    <ul class="pagination">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                    </ul>
                </nav>
            </div>
            <div class="mt-4 pb-4" id="button-container" style="width:65vh">
                <a asp-controller="Login" asp-action="Home" class="transparent-button">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>

            </div>
        </div>
    </div>
</body>
</html>