@using PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<LucasVaz.Models.Estudo>

<h1>Estudos</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<a asp-action="Create" asp-controller="EditarEstudo" class="btn transparent-button mt-4">Inserir Novo Estudo</a>

<table class="table mt-4" style="color:white">
    <thead>
        <tr>
            <th>Estudo</th>
            <th>Local</th>
            <th>Data</th>
            <th>Tipo de Estudo</th>
            <th>Pessoa</th>
            <th>Tecnologias</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudo in Model)
        {
            <tr>
                <td>@estudo.DsEstudo</td>
                <td>@estudo.DsLocal</td>
                <td>@estudo.DtEstudo</td>
                <td>@estudo.TipoEstudo.DsTipoEstudo</td>
                <td>@estudo.Pessoa.DsPessoa</td>
                <td>
                    <ul>
                        @foreach (var tecnologia in estudo.EstudosTecnologias)
                        {
                            <img src="@Url.Content($"~/img/{tecnologia.Tecnologia.DsTecnologia}.svg")" width="16" height="16" />
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="EditarEstudo" asp-route-id="@estudo.IdEstudo" class="btn transparent-button">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
