@model IPagedList<LucasVaz.Models.Experiencia>

<h1>Experiências</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<table class="table mt-4" style="color:white">
    <thead>
        <tr>
            <th>Experiência</th>
            <th>Função</th>
            <th>Local</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Tipo Experiência</th>
            <th>Pessoa</th>
            <th>Tecnologias</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var experiencia in Model)
        {
            <tr>
                <td>@experiencia.DsExperiencia</td>
                <td>@experiencia.DsFuncao</td>
                <td>@experiencia.DsLocal</td>
                <td>@experiencia.DtIni.ToShortDateString()</td>
                <td>@(experiencia.DtFim?.ToShortDateString() ?? "Atual")</td>
                <td>@experiencia.TipoExperiencia.DsTipoExperiencia</td>
                <td>@experiencia.Pessoa.DsPessoa</td>
                <td>
                    @if (experiencia.ExperienciasTecnologias != null && experiencia.ExperienciasTecnologias.Any())
                    {
                        <ul>
                            @foreach (var tecnologiaExperiencia in experiencia.ExperienciasTecnologias)
                            {
                                <li><img src="~/img/@(tecnologiaExperiencia.Tecnologia.DsTecnologia).svg" alt="@tecnologiaExperiencia.Tecnologia.DsTecnologia" width="32" height="32" /></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Nenhuma tecnologia associada</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "EditarExperiencia", new { id = experiencia.IdExperiencia })" class="transparent-button" style="text-align: center; vertical-align: middle;">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
