@model List<LucasVaz.Models.Experiencia>

<h2>Experiências</h2>

<table class="table mt-4" style="color:white">
    <thead>
        <tr>
            <th>Experiência</th>
            <th>Função</th>
            <th>Local</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Tipo Experiência</th>
            <th>Pessoa</th>
            <th>Tecnologias</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var experiencia in Model)
        {
            <tr>
                <td>@experiencia.DsExperiencia</td>
                <td>@experiencia.DsFuncao</td>
                <td>@experiencia.DsLocal</td>
                <td>@experiencia.DtIni.ToShortDateString()</td>
                <td>@(experiencia.DtFim.ToShortDateString() ?? "Atual")</td>
                <td>@experiencia.TipoExperiencia.DsTipoExperiencia</td>
                <td>@experiencia.Pessoa.DsPessoa</td>
                <td>
                    <ul>
                        @foreach (var tecnologia in experiencia.ExperienciasTecnologias)
                        {
                            <li>@tecnologia.Tecnologia.DsTecnologia</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
