@using LucasVaz.Models
@model IEnumerable<LucasVaz.Models.Estudo>

@{
    ViewData["Title"] = "Estudos";
}
<head>
    <meta charset="UTF-8">
</head>
<html>
<body>
    <div id="estrelas">
        <h1 class="display-4">Estudos</h1>
        <div class="row">
            @foreach (var estudo in Model)
            {
                <div class="col-md-6 col-lg-4 mt-4 d-flex">
                    <div class="card flex-fill text-center">
                        <br />
                        <h3>@estudo.DsEstudo</h3>
                        <p class="text-center">@estudo.TipoEstudo.DsTipoEstudo | @estudo.DsLocal | @DateTime.Parse(estudo.DtEstudo).ToString("yyyy")</p>
                        <p class="text-center">
                            @foreach (var estudoTecnologia in estudo.EstudosTecnologias)
                            {
                                <img src="@Url.Content($"~/img/{estudoTecnologia.Tecnologia.DsTecnologia}.svg")" width="30" height="30" />
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
        <div id="button-container" style="display: flex; margin-top:50px;  margin-bottom:50px; justify-content: center; align-items: center;">
            <a asp-controller="Contato" asp-action="Index" class="transparent-button">Entre em contato</a>
        </div>
    </div>

</body>
</html>
