@using PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<LucasVaz.Models.Experiencia>
<head>


</head>

<html>
<body>
<div id="estrelas">

        <h1>Experiências</h1>
    <div class="row">
        @foreach (var experiencia in Model)
        {
            <div class="col-md-6 col-lg-4 mt-4 d-flex">
                <div class="cardgeral flex-fill text-center">
                <h3>@experiencia.DsExperiencia</h3>
                <p>@experiencia.DsLocal</p>
                <p>@experiencia.TipoExperiencia.DsTipoExperiencia</p>
                <p>@experiencia.DsFuncao</p>
                <p class="text-center">
                    @foreach (var experienciaTecnologia in experiencia.ExperienciasTecnologias)
                    {
                        <img src="@Url.Content($"~/img/{experienciaTecnologia.Tecnologia.DsTecnologia}.svg")" width="30" height="30" />
                    }
                </p>
                <div class="button-container">
                    @if (experiencia.DtFim.Year > 0001)
                    {
                     <p class ="text-center">@($"{experiencia.DtIni.ToString("yyyy")} - {experiencia.DtFim.ToString("yyyy")}")</p>
                    }
                    else
                    {
                    <p class="text-center">@($"{experiencia.DtIni.ToString("yyyy")} - Atualmente")</p>
                    }
                </div>
            </div>
            </div>
        }
    </div>


        <div id="button-container" style="display: flex; margin-top:50px;  margin-bottom:50px; justify-content: center; align-items: center;">
            <a asp-controller="Projeto" asp-action="Index" class="transparent-button"> 
                <i class="fa fa-project-diagram"></i> Veja meus Projetos
            </a>
        </div>
</div>
</body>
</html>