@model IPagedList<LucasVaz.Models.Projeto>
@using System.Web;
@using PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;



@{
    ViewData["Title"] = "Projetos";

}

<html>
<body>
    <div id="estrelas">
        <h1 class="display-4">Projetos</h1>

        <div class="d-flex flex-wrap mt-4" style="display: flex; justify-content: center; align-items: center;">
            <form method="post" action="/Projeto/FiltrarPorTecnologia">
                @foreach (var tecnologia in ViewBag.Tecnologias)
                {
                    <label>
                        <input type="checkbox" name="idsTecnologia" value="@tecnologia.IdTecnologia" />
                        <img src="@Url.Content($"~/img/{ @tecnologia.DsTecnologia}.svg")" width="30" height="30" />
                    </label>
                }
                <button type="submit" class="transparent-button">
                    <i class="fas fa-filter"></i> Filtrar
                </button>
            </form>
            <a asp-controller="Projeto" asp-action="Index" class="transparent-button">
                <i class="fas fa-eraser"></i> Limpar Filtros
            </a>
        </div>


        <div class="row">
            @foreach (var projeto in Model)
            {
                <div class="col-md-6 col-lg-4 mt-4 d-flex">
                    <div class="cardgeral flex-fill text-center d-flex flex-column">
                        <br />
                        <h3>@projeto.DsProjeto</h3>
                        <p>@projeto.TipoProjeto.DsTipoProjeto</p>
                        <div style="flex-grow: 1;">
                            <p>@projeto.CmProjeto</p>
                        </div>

                        <div class="mt-auto mb-3">
                            <p class="text-center">
                                @foreach (var tecnologiaProjeto in projeto.TecnologiasProjetos)
                                {
                                    <img src="@Url.Content($"~/img/{tecnologiaProjeto.Tecnologia.DsTecnologia}.svg")" width="30" height="30" />
                                }
                            </p>
                        </div>

                        <div class="button-container d-flex justify-content-center mb-3">
                            <a asp-action="Detalhes" asp-route-id="@projeto.IdProjeto" class="transparent-button">
                                <i class="fas fa-info-circle"></i> Detalhes
                            </a>

                            @if (!string.IsNullOrEmpty(projeto.LkGithub))
                            {
                                <a href="@projeto.LkGithub" target="_blank" class="transparent-button" type="button">
                                    <i class="fab fa-github"></i> Ver no Github
                                </a>
                            }
                            else
                            {
                                <button class="transparent-button" type="button">Indisponível</button>
                            }

                            @if (!string.IsNullOrEmpty(projeto.LkWeb))
                            {
                                if (string.IsNullOrEmpty(projeto.DsLoginTeste))
                                {
                                    <a href='@projeto.LkWeb' target='_blank' class='transparent-button' type='button'>
                                        <i class="fas fa-globe"></i>  Ver na Web
                                    </a>
                                }
                                else
                                {
                                    <a href='@($"{projeto.LkWeb}/conta/login/{projeto.DsLoginTeste}/{projeto.DsSenhaTeste}")' target='_blank' class='transparent-button' type='button'>
                                        <i class="fas fa-globe"></i>  Ver na Web
                                    </a>
                                }
                            }
                        </div>
                        <br />
                    </div>
                </div>

            }
        </div>
        <div class="container mt-4 text-center">
            <nav aria-label="Page navigation" class="custom-pagination text-center">
                <ul class="pagination">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                </ul>
            </nav>
        </div>



    </div>
    <div class="container mt-4">
        <div id="button-containersobremim" class="text-center">
            <a asp-controller="Habilidade" asp-action="Index" class="transparent-button"> <i class="fa fa-cogs"></i> Veja minhas Skill's</a>
        </div>

    </div>
</body>
</html>
